In [1]:
#Import dependancies
import pandas as pd
import datetime

In [2]:
#Import CSV files      
dogecoin19= '../Project2_Crypto_db/dogecoin_full_data__4__2019.csv'
dogecoin20= '../Project2_Crypto_db/dogecoin_full_data__4__2020.csv'
dogecoin21= '../Project2_Crypto_db/dogecoin_full_data__4__2021.csv'

In [3]:
#Read CSV files and move into dataframe
dogecoin19_df= pd.read_csv(dogecoin19)
dogecoin20_df= pd.read_csv(dogecoin20)
dogecoin21_df= pd.read_csv(dogecoin21)

In [4]:
#Delete unnecessary columns for 2019 data
del dogecoin19_df['Unnamed: 0']
del dogecoin19_df['Asset_Name']
del dogecoin19_df['Weight']
del dogecoin19_df['Target']
dogecoin19_df.head()

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP
0,1555079640,4,10.0,0.002775,0.002775,0.002773,0.002775,192109.0,0.002775
1,1555079700,4,14.0,0.002772,0.002775,0.002771,0.002775,70399.0,0.002773
2,1555079760,4,7.0,0.002773,0.002775,0.002772,0.002772,217483.0,0.002775
3,1555079820,4,7.0,0.002773,0.002775,0.002773,0.002773,4247299.0,0.002773
4,1555079880,4,21.0,0.002772,0.002775,0.002772,0.002774,173376.0,0.002774

In [5]:
#Rename the columns in new data frame
dogecoin19_df=dogecoin19_df.rename(columns={'Asset_ID': "Crypto Currency Type", 'timestamp': 'Timestamp', 'Count': 'Number of Trades'})
dogecoin19_df

,Timestamp,Crypto Currency Type,Number of Trades,Open,High,Low,Close,Volume,VWAP
0,1555079640,4,10.0,0.002775,0.002775,0.002773,0.002775,192109.0,0.002775
1,1555079700,4,14.0,0.002772,0.002775,0.002771,0.002775,70399.0,0.002773
2,1555079760,4,7.0,0.002773,0.002775,0.002772,0.002772,217483.0,0.002775
3,1555079820,4,7.0,0.002773,0.002775,0.002773,0.002773,4247299.0,0.002773
4,1555079880,4,21.0,0.002772,0.002775,0.002772,0.002774,173376.0,0.002774
...,...,...,...,...,...,...,...,...,...
306307,1565823300,4,0.0,0.002773,0.002773,0.002773,0.002773,0.0,NaN
306308,1565823960,4,0.0,0.002773,0.002773,0.002773,0.002773,0.0,NaN
306309,1565824680,4,0.0,0.002747,0.002747,0.002747,0.002747,0.0,NaN
306310,1565824740,4,0.0,0.002747,0.002747,0.002747,0.002747,0.0,NaN
306311,1565826000,4,0.0,0.002716,0.002716,0.002716,0.002716,0.0,NaN

In [6]:
#Format the columns accordingly
dogecoin19_df['Number of Trades'] = dogecoin19_df['Number of Trades'].map('{:,.0f}'.format)
dogecoin19_df['Open'] = dogecoin19_df['Open'].map('${:,.4f}'.format)
dogecoin19_df['High'] = dogecoin19_df['High'].map('${:,.4f}'.format)
dogecoin19_df['Low'] = dogecoin19_df['Low'].map('${:,.4f}'.format)
dogecoin19_df['Close'] = dogecoin19_df['Close'].map('${:,.4f}'.format)
dogecoin19_df['Volume'] = dogecoin19_df['Volume'].map('${:,.4f}'.format)
dogecoin19_df['VWAP'] = dogecoin19_df['VWAP'].map('${:,.4f}'.format)
dogecoin19_df.head()

,Timestamp,Crypto Currency Type,Number of Trades,Open,High,Low,Close,Volume,VWAP
0,1555079640,4,10,$0.0028,$0.0028,$0.0028,$0.0028,"$192,109.0000",$0.0028
1,1555079700,4,14,$0.0028,$0.0028,$0.0028,$0.0028,"$70,399.0000",$0.0028
2,1555079760,4,7,$0.0028,$0.0028,$0.0028,$0.0028,"$217,483.0000",$0.0028
3,1555079820,4,7,$0.0028,$0.0028,$0.0028,$0.0028,"$4,247,299.0000",$0.0028
4,1555079880,4,21,$0.0028,$0.0028,$0.0028,$0.0028,"$173,376.0000",$0.0028

In [7]:
#Rewrite content in Crypto Currency Type
dogecoin_rename= {4:"Dogecoin"}

dogecoin19_df["Crypto Currency Type"]=dogecoin19_df["Crypto Currency Type"].map(dogecoin_rename)
dogecoin19_df

,Timestamp,Crypto Currency Type,Number of Trades,Open,High,Low,Close,Volume,VWAP
0,1555079640,Dogecoin,10,$0.0028,$0.0028,$0.0028,$0.0028,"$192,109.0000",$0.0028
1,1555079700,Dogecoin,14,$0.0028,$0.0028,$0.0028,$0.0028,"$70,399.0000",$0.0028
2,1555079760,Dogecoin,7,$0.0028,$0.0028,$0.0028,$0.0028,"$217,483.0000",$0.0028
3,1555079820,Dogecoin,7,$0.0028,$0.0028,$0.0028,$0.0028,"$4,247,299.0000",$0.0028
4,1555079880,Dogecoin,21,$0.0028,$0.0028,$0.0028,$0.0028,"$173,376.0000",$0.0028
...,...,...,...,...,...,...,...,...,...
306307,1565823300,Dogecoin,0,$0.0028,$0.0028,$0.0028,$0.0028,$0.0000,$nan
306308,1565823960,Dogecoin,0,$0.0028,$0.0028,$0.0028,$0.0028,$0.0000,$nan
306309,1565824680,Dogecoin,0,$0.0027,$0.0027,$0.0027,$0.0027,$0.0000,$nan
306310,1565824740,Dogecoin,0,$0.0027,$0.0027,$0.0027,$0.0027,$0.0000,$nan
306311,1565826000,Dogecoin,0,$0.0027,$0.0027,$0.0027,$0.0027,$0.0000,$nan

In [8]:
#Insert input to change epoch time to readable time 
def epoch(inputdate):
    return datetime.datetime.fromtimestamp(inputdate).strftime('%Y-%m-%d %H:%M:%S')

In [9]:
#Rename each column for ALL dataframes
timestamp= dogecoin19_df['Timestamp']
timestamp1= dogecoin20_df['timestamp']
timestamp2= dogecoin21_df['timestamp']

In [10]:
#Input code to apply  new information to the designated column for all dataframes
dogecoin19_df['Date Time'] = dogecoin19_df['Timestamp'].apply(lambda x:epoch(x))
dogecoin20_df['Date Time'] = dogecoin20_df['timestamp'].apply(lambda x:epoch(x))
dogecoin21_df['Date Time'] = dogecoin21_df['timestamp'].apply(lambda x:epoch(x))

In [11]:
#Read column
dogecoin19_df['Date Time']

0         2019-04-12 09:34:00
1         2019-04-12 09:35:00
2         2019-04-12 09:36:00
3         2019-04-12 09:37:00
4         2019-04-12 09:38:00
                 ...
306307    2019-08-14 17:55:00
306308    2019-08-14 18:06:00
306309    2019-08-14 18:18:00
306310    2019-08-14 18:19:00
306311    2019-08-14 18:40:00
Name: Date Time, Length: 306312, dtype: object

In [12]:
#Rename column for 2019 dataframe with new information
dogecoin19_df['Timestamp'] = dogecoin19_df['Date Time']
del dogecoin19_df['Timestamp']
dogecoin19_df.head()

,Crypto Currency Type,Number of Trades,Open,High,Low,Close,Volume,VWAP,Date Time
0,Dogecoin,10,$0.0028,$0.0028,$0.0028,$0.0028,"$192,109.0000",$0.0028,2019-04-12 09:34:00
1,Dogecoin,14,$0.0028,$0.0028,$0.0028,$0.0028,"$70,399.0000",$0.0028,2019-04-12 09:35:00
2,Dogecoin,7,$0.0028,$0.0028,$0.0028,$0.0028,"$217,483.0000",$0.0028,2019-04-12 09:36:00
3,Dogecoin,7,$0.0028,$0.0028,$0.0028,$0.0028,"$4,247,299.0000",$0.0028,2019-04-12 09:37:00
4,Dogecoin,21,$0.0028,$0.0028,$0.0028,$0.0028,"$173,376.0000",$0.0028,2019-04-12 09:38:00

In [13]:
#Reorganize columns for 2019 dataframe
dogecoin19_df=dogecoin19_df[['Date Time', 'Crypto Currency Type', 'Number of Trades', 'Open', 'High', 'Low', 'Close', 'Volume', 'VWAP']]
dogecoin19_df.head()

,Date Time,Crypto Currency Type,Number of Trades,Open,High,Low,Close,Volume,VWAP
0,2019-04-12 09:34:00,Dogecoin,10,$0.0028,$0.0028,$0.0028,$0.0028,"$192,109.0000",$0.0028
1,2019-04-12 09:35:00,Dogecoin,14,$0.0028,$0.0028,$0.0028,$0.0028,"$70,399.0000",$0.0028
2,2019-04-12 09:36:00,Dogecoin,7,$0.0028,$0.0028,$0.0028,$0.0028,"$217,483.0000",$0.0028
3,2019-04-12 09:37:00,Dogecoin,7,$0.0028,$0.0028,$0.0028,$0.0028,"$4,247,299.0000",$0.0028
4,2019-04-12 09:38:00,Dogecoin,21,$0.0028,$0.0028,$0.0028,$0.0028,"$173,376.0000",$0.0028

In [14]:
##############################################2020 DATAFRAME##########################################################################

In [15]:
#Delete unnecessary columns from 2020 dataframe
del dogecoin20_df['Unnamed: 0']
del dogecoin20_df['Asset_Name']
del dogecoin20_df['Weight']
del dogecoin20_df['Target']
dogecoin20_df.head()

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Date Time
0,1577838120,4,4.0,0.002014,0.002015,0.002014,0.002015,13422.79,0.002014,2019-12-31 18:22:00
1,1577838480,4,2.0,0.002015,0.002015,0.002015,0.002015,1664.04,0.002015,2019-12-31 18:28:00
2,1577838660,4,2.0,0.002015,0.002015,0.002015,0.002015,1644.43,0.002015,2019-12-31 18:31:00
3,1577838720,4,34.0,0.002017,0.002030,0.002015,0.002023,1360036.86,0.002022,2019-12-31 18:32:00
4,1577838780,4,10.0,0.002023,0.002026,0.002018,0.002021,230520.81,0.002022,2019-12-31 18:33:00

In [16]:
#Rename the columns in new data frame for 2020
dogecoin20_df=dogecoin20_df.rename(columns={'Asset_ID': "Crypto Currency Type", 'timestamp': 'Timestamp', 'Count': 'Number of Trades'})
dogecoin20_df

,Timestamp,Crypto Currency Type,Number of Trades,Open,High,Low,Close,Volume,VWAP,Date Time
0,1577838120,4,4.0,0.002014,0.002015,0.002014,0.002015,13422.79,0.002014,2019-12-31 18:22:00
1,1577838480,4,2.0,0.002015,0.002015,0.002015,0.002015,1664.04,0.002015,2019-12-31 18:28:00
2,1577838660,4,2.0,0.002015,0.002015,0.002015,0.002015,1644.43,0.002015,2019-12-31 18:31:00
3,1577838720,4,34.0,0.002017,0.002030,0.002015,0.002023,1360036.86,0.002022,2019-12-31 18:32:00
4,1577838780,4,10.0,0.002023,0.002026,0.002018,0.002021,230520.81,0.002022,2019-12-31 18:33:00
...,...,...,...,...,...,...,...,...,...,...
447709,1605652200,4,0.0,0.002940,0.002940,0.002940,0.002940,0.00,NaN,2020-11-17 16:30:00
447710,1605652380,4,0.0,0.002933,0.002933,0.002933,0.002933,0.00,NaN,2020-11-17 16:33:00
447711,1605653340,4,0.0,0.002941,0.002941,0.002941,0.002941,0.00,NaN,2020-11-17 16:49:00
447712,1605653400,4,0.0,0.002941,0.002941,0.002941,0.002941,0.00,NaN,2020-11-17 16:50:00
447713,1605655860,4,0.0,0.002948,0.002948,0.002948,0.002948,0.00,NaN,2020-11-17 17:31:00

In [17]:
#Format the columns accordingly for 2020 data
dogecoin20_df['Number of Trades'] = dogecoin20_df['Number of Trades'].map('{:,.0f}'.format)
dogecoin20_df['Open'] = dogecoin20_df['Open'].map('${:,.4f}'.format)
dogecoin20_df['High'] = dogecoin20_df['High'].map('${:,.4f}'.format)
dogecoin20_df['Low'] = dogecoin20_df['Low'].map('${:,.4f}'.format)
dogecoin20_df['Close'] = dogecoin20_df['Close'].map('${:,.4f}'.format)
dogecoin20_df['Volume'] = dogecoin20_df['Volume'].map('${:,.4f}'.format)
dogecoin20_df['VWAP'] = dogecoin20_df['VWAP'].map('${:,.4f}'.format)
dogecoin20_df.head()

,Timestamp,Crypto Currency Type,Number of Trades,Open,High,Low,Close,Volume,VWAP,Date Time
0,1577838120,4,4,$0.0020,$0.0020,$0.0020,$0.0020,"$13,422.7900",$0.0020,2019-12-31 18:22:00
1,1577838480,4,2,$0.0020,$0.0020,$0.0020,$0.0020,"$1,664.0400",$0.0020,2019-12-31 18:28:00
2,1577838660,4,2,$0.0020,$0.0020,$0.0020,$0.0020,"$1,644.4300",$0.0020,2019-12-31 18:31:00
3,1577838720,4,34,$0.0020,$0.0020,$0.0020,$0.0020,"$1,360,036.8600",$0.0020,2019-12-31 18:32:00
4,1577838780,4,10,$0.0020,$0.0020,$0.0020,$0.0020,"$230,520.8100",$0.0020,2019-12-31 18:33:00

In [18]:
#Rewrite content in Crypto Currency Type
dogecoin_rename= {4:"Dogecoin"}

dogecoin20_df["Crypto Currency Type"]=dogecoin20_df["Crypto Currency Type"].map(dogecoin_rename)
dogecoin20_df

,Timestamp,Crypto Currency Type,Number of Trades,Open,High,Low,Close,Volume,VWAP,Date Time
0,1577838120,Dogecoin,4,$0.0020,$0.0020,$0.0020,$0.0020,"$13,422.7900",$0.0020,2019-12-31 18:22:00
1,1577838480,Dogecoin,2,$0.0020,$0.0020,$0.0020,$0.0020,"$1,664.0400",$0.0020,2019-12-31 18:28:00
2,1577838660,Dogecoin,2,$0.0020,$0.0020,$0.0020,$0.0020,"$1,644.4300",$0.0020,2019-12-31 18:31:00
3,1577838720,Dogecoin,34,$0.0020,$0.0020,$0.0020,$0.0020,"$1,360,036.8600",$0.0020,2019-12-31 18:32:00
4,1577838780,Dogecoin,10,$0.0020,$0.0020,$0.0020,$0.0020,"$230,520.8100",$0.0020,2019-12-31 18:33:00
...,...,...,...,...,...,...,...,...,...,...
447709,1605652200,Dogecoin,0,$0.0029,$0.0029,$0.0029,$0.0029,$0.0000,$nan,2020-11-17 16:30:00
447710,1605652380,Dogecoin,0,$0.0029,$0.0029,$0.0029,$0.0029,$0.0000,$nan,2020-11-17 16:33:00
447711,1605653340,Dogecoin,0,$0.0029,$0.0029,$0.0029,$0.0029,$0.0000,$nan,2020-11-17 16:49:00
447712,1605653400,Dogecoin,0,$0.0029,$0.0029,$0.0029,$0.0029,$0.0000,$nan,2020-11-17 16:50:00
447713,1605655860,Dogecoin,0,$0.0029,$0.0029,$0.0029,$0.0029,$0.0000,$nan,2020-11-17 17:31:00

In [19]:
#Read column
dogecoin20_df['Date Time']

0         2019-12-31 18:22:00
1         2019-12-31 18:28:00
2         2019-12-31 18:31:00
3         2019-12-31 18:32:00
4         2019-12-31 18:33:00
                 ...
447709    2020-11-17 16:30:00
447710    2020-11-17 16:33:00
447711    2020-11-17 16:49:00
447712    2020-11-17 16:50:00
447713    2020-11-17 17:31:00
Name: Date Time, Length: 447714, dtype: object

In [20]:
#Rename column for 2020 dataframe with new information
dogecoin20_df['Timestamp'] = dogecoin20_df['Date Time']
del dogecoin20_df['Timestamp']
dogecoin20_df.head()

,Crypto Currency Type,Number of Trades,Open,High,Low,Close,Volume,VWAP,Date Time
0,Dogecoin,4,$0.0020,$0.0020,$0.0020,$0.0020,"$13,422.7900",$0.0020,2019-12-31 18:22:00
1,Dogecoin,2,$0.0020,$0.0020,$0.0020,$0.0020,"$1,664.0400",$0.0020,2019-12-31 18:28:00
2,Dogecoin,2,$0.0020,$0.0020,$0.0020,$0.0020,"$1,644.4300",$0.0020,2019-12-31 18:31:00
3,Dogecoin,34,$0.0020,$0.0020,$0.0020,$0.0020,"$1,360,036.8600",$0.0020,2019-12-31 18:32:00
4,Dogecoin,10,$0.0020,$0.0020,$0.0020,$0.0020,"$230,520.8100",$0.0020,2019-12-31 18:33:00

In [21]:
#Reorganize columns for 2020 dataframe
dogecoin20_df=dogecoin20_df[['Date Time', 'Crypto Currency Type', 'Number of Trades', 'Open', 'High', 'Low', 'Close', 'Volume', 'VWAP']]
dogecoin20_df.head()

,Date Time,Crypto Currency Type,Number of Trades,Open,High,Low,Close,Volume,VWAP
0,2019-12-31 18:22:00,Dogecoin,4,$0.0020,$0.0020,$0.0020,$0.0020,"$13,422.7900",$0.0020
1,2019-12-31 18:28:00,Dogecoin,2,$0.0020,$0.0020,$0.0020,$0.0020,"$1,664.0400",$0.0020
2,2019-12-31 18:31:00,Dogecoin,2,$0.0020,$0.0020,$0.0020,$0.0020,"$1,644.4300",$0.0020
3,2019-12-31 18:32:00,Dogecoin,34,$0.0020,$0.0020,$0.0020,$0.0020,"$1,360,036.8600",$0.0020
4,2019-12-31 18:33:00,Dogecoin,10,$0.0020,$0.0020,$0.0020,$0.0020,"$230,520.8100",$0.0020

In [22]:
##############################################2021 DATAFRAME##########################################################################

In [23]:
#Delete unnecessary columns from 2021 dataframe
del dogecoin21_df['Unnamed: 0']
del dogecoin21_df['Asset_Name']
del dogecoin21_df['Weight']
del dogecoin21_df['Target']
dogecoin21_df.head()

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Date Time
0,1609459260,4,84.0,0.004671,0.004683,0.004668,0.004677,2.202482e+06,0.004675,2020-12-31 18:01:00
1,1609459320,4,23.0,0.004683,0.004686,0.004669,0.004672,6.446365e+05,0.004676,2020-12-31 18:02:00
2,1609459380,4,11.0,0.004670,0.004676,0.004668,0.004672,5.196483e+05,0.004671,2020-12-31 18:03:00
3,1609459440,4,38.0,0.004675,0.004682,0.004667,0.004672,7.038264e+05,0.004672,2020-12-31 18:04:00
4,1609459500,4,19.0,0.004670,0.004674,0.004668,0.004671,4.305936e+05,0.004670,2020-12-31 18:05:00

In [24]:
#Rename the columns in new data frame for 2021
dogecoin21_df=dogecoin21_df.rename(columns={'Asset_ID': "Crypto Currency Type", 'timestamp': 'Timestamp', 'Count': 'Number of Trades'})
dogecoin21_df

,Timestamp,Crypto Currency Type,Number of Trades,Open,High,Low,Close,Volume,VWAP,Date Time
0,1609459260,4,84.0,0.004671,0.004683,0.004668,0.004677,2.202482e+06,0.004675,2020-12-31 18:01:00
1,1609459320,4,23.0,0.004683,0.004686,0.004669,0.004672,6.446365e+05,0.004676,2020-12-31 18:02:00
2,1609459380,4,11.0,0.004670,0.004676,0.004668,0.004672,5.196483e+05,0.004671,2020-12-31 18:03:00
3,1609459440,4,38.0,0.004675,0.004682,0.004667,0.004672,7.038264e+05,0.004672,2020-12-31 18:04:00
4,1609459500,4,19.0,0.004670,0.004674,0.004668,0.004671,4.305936e+05,0.004670,2020-12-31 18:05:00
...,...,...,...,...,...,...,...,...,...,...
475144,1633046100,4,41.0,0.204300,0.204300,0.204100,0.204100,7.622700e+04,0.476433,2021-09-30 18:55:00
475145,1633046160,4,115.0,0.204200,0.204200,0.204000,0.204000,2.991990e+05,0.476200,2021-09-30 18:56:00
475146,1633046220,4,122.0,0.204100,0.204300,0.204100,0.204200,4.947420e+05,0.476467,2021-09-30 18:57:00
475147,1633046280,4,161.0,0.204100,0.204200,0.204000,0.204100,2.493330e+05,0.476233,2021-09-30 18:58:00
475148,1633046340,4,168.0,0.204100,0.204400,0.204100,0.204200,4.365570e+05,0.476567,2021-09-30 18:59:00

In [25]:
#Format the columns accordingly for 2021 data
dogecoin21_df['Number of Trades'] = dogecoin21_df['Number of Trades'].map('{:,.0f}'.format)
dogecoin21_df['Open'] = dogecoin21_df['Open'].map('${:,.4f}'.format)
dogecoin21_df['High'] = dogecoin21_df['High'].map('${:,.4f}'.format)
dogecoin21_df['Low'] = dogecoin21_df['Low'].map('${:,.4f}'.format)
dogecoin21_df['Close'] = dogecoin21_df['Close'].map('${:,.4f}'.format)
dogecoin21_df['Volume'] = dogecoin21_df['Volume'].map('${:,.4f}'.format)
dogecoin21_df['VWAP'] = dogecoin21_df['VWAP'].map('${:,.4f}'.format)
dogecoin21_df.head()

,Timestamp,Crypto Currency Type,Number of Trades,Open,High,Low,Close,Volume,VWAP,Date Time
0,1609459260,4,84,$0.0047,$0.0047,$0.0047,$0.0047,"$2,202,482.4218",$0.0047,2020-12-31 18:01:00
1,1609459320,4,23,$0.0047,$0.0047,$0.0047,$0.0047,"$644,636.5300",$0.0047,2020-12-31 18:02:00
2,1609459380,4,11,$0.0047,$0.0047,$0.0047,$0.0047,"$519,648.3400",$0.0047,2020-12-31 18:03:00
3,1609459440,4,38,$0.0047,$0.0047,$0.0047,$0.0047,"$703,826.4100",$0.0047,2020-12-31 18:04:00
4,1609459500,4,19,$0.0047,$0.0047,$0.0047,$0.0047,"$430,593.6200",$0.0047,2020-12-31 18:05:00

In [26]:
#Rewrite content in Crypto Currency Type
dogecoin_rename= {4:"Dogecoin"}

dogecoin21_df["Crypto Currency Type"]=dogecoin21_df["Crypto Currency Type"].map(dogecoin_rename)
dogecoin21_df

,Timestamp,Crypto Currency Type,Number of Trades,Open,High,Low,Close,Volume,VWAP,Date Time
0,1609459260,Dogecoin,84,$0.0047,$0.0047,$0.0047,$0.0047,"$2,202,482.4218",$0.0047,2020-12-31 18:01:00
1,1609459320,Dogecoin,23,$0.0047,$0.0047,$0.0047,$0.0047,"$644,636.5300",$0.0047,2020-12-31 18:02:00
2,1609459380,Dogecoin,11,$0.0047,$0.0047,$0.0047,$0.0047,"$519,648.3400",$0.0047,2020-12-31 18:03:00
3,1609459440,Dogecoin,38,$0.0047,$0.0047,$0.0047,$0.0047,"$703,826.4100",$0.0047,2020-12-31 18:04:00
4,1609459500,Dogecoin,19,$0.0047,$0.0047,$0.0047,$0.0047,"$430,593.6200",$0.0047,2020-12-31 18:05:00
...,...,...,...,...,...,...,...,...,...,...
475144,1633046100,Dogecoin,41,$0.2043,$0.2043,$0.2041,$0.2041,"$76,227.0000",$0.4764,2021-09-30 18:55:00
475145,1633046160,Dogecoin,115,$0.2042,$0.2042,$0.2040,$0.2040,"$299,199.0000",$0.4762,2021-09-30 18:56:00
475146,1633046220,Dogecoin,122,$0.2041,$0.2043,$0.2041,$0.2042,"$494,742.0000",$0.4765,2021-09-30 18:57:00
475147,1633046280,Dogecoin,161,$0.2041,$0.2042,$0.2040,$0.2041,"$249,333.0000",$0.4762,2021-09-30 18:58:00
475148,1633046340,Dogecoin,168,$0.2041,$0.2044,$0.2041,$0.2042,"$436,557.0000",$0.4766,2021-09-30 18:59:00

In [27]:
#Read column
dogecoin21_df['Date Time']

0         2020-12-31 18:01:00
1         2020-12-31 18:02:00
2         2020-12-31 18:03:00
3         2020-12-31 18:04:00
4         2020-12-31 18:05:00
                 ...
475144    2021-09-30 18:55:00
475145    2021-09-30 18:56:00
475146    2021-09-30 18:57:00
475147    2021-09-30 18:58:00
475148    2021-09-30 18:59:00
Name: Date Time, Length: 475149, dtype: object

In [28]:
#Rename column for 2021 dataframe with new information
dogecoin21_df['Timestamp'] = dogecoin21_df['Date Time']
del dogecoin21_df['Timestamp']
dogecoin21_df.head()

,Crypto Currency Type,Number of Trades,Open,High,Low,Close,Volume,VWAP,Date Time
0,Dogecoin,84,$0.0047,$0.0047,$0.0047,$0.0047,"$2,202,482.4218",$0.0047,2020-12-31 18:01:00
1,Dogecoin,23,$0.0047,$0.0047,$0.0047,$0.0047,"$644,636.5300",$0.0047,2020-12-31 18:02:00
2,Dogecoin,11,$0.0047,$0.0047,$0.0047,$0.0047,"$519,648.3400",$0.0047,2020-12-31 18:03:00
3,Dogecoin,38,$0.0047,$0.0047,$0.0047,$0.0047,"$703,826.4100",$0.0047,2020-12-31 18:04:00
4,Dogecoin,19,$0.0047,$0.0047,$0.0047,$0.0047,"$430,593.6200",$0.0047,2020-12-31 18:05:00

In [29]:
#Reorganize columns for 2020 dataframe
dogecoin21_df=dogecoin21_df[['Date Time', 'Crypto Currency Type', 'Number of Trades', 'Open', 'High', 'Low', 'Close', 'Volume', 'VWAP']]
dogecoin21_df.head()

,Date Time,Crypto Currency Type,Number of Trades,Open,High,Low,Close,Volume,VWAP
0,2020-12-31 18:01:00,Dogecoin,84,$0.0047,$0.0047,$0.0047,$0.0047,"$2,202,482.4218",$0.0047
1,2020-12-31 18:02:00,Dogecoin,23,$0.0047,$0.0047,$0.0047,$0.0047,"$644,636.5300",$0.0047
2,2020-12-31 18:03:00,Dogecoin,11,$0.0047,$0.0047,$0.0047,$0.0047,"$519,648.3400",$0.0047
3,2020-12-31 18:04:00,Dogecoin,38,$0.0047,$0.0047,$0.0047,$0.0047,"$703,826.4100",$0.0047
4,2020-12-31 18:05:00,Dogecoin,19,$0.0047,$0.0047,$0.0047,$0.0047,"$430,593.6200",$0.0047

In [30]:
#Export file as a CSV with a header
dogecoin19_df.to_csv("../Project2_Crypto_db/DB_dogecoin19.csv", index=False, header=True)
dogecoin20_df.to_csv("../Project2_Crypto_db/DB_dogecoin20.csv", index=False, header= True)
dogecoin21_df.to_csv("../Project2_Crypto_db/DB_dogecoin21.csv", index=False, header=True)